[submodule "15273357xftbygmztxdw"]
	path = 15273357xftbygmztxdw
	url = https://git.overleaf.com/15273357xftbygmztxdw
[submodule "teamdoc"]
	path = teamdoc
	url = https://git.overleaf.com/15273357xftbygmztxdw
[submodule "presentation"]
	path = presentation
	url = https://git.overleaf.com/15234763fmvbjkrpmfns
